.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .messages {
  border: 5px solid red;
}

.main {
  background-color: wheat;
  color: black;
  height: 100%;
  min-height: 100%; 
 }
 
 .mainDiv {
  margin: auto;
  width: 90%;
  padding: 5px;
 }
 .sidebar {
  display: flex;
  background-color: #53565A;
  border: 5px solid purple;
  margin: 10px; 
 }
 .sidebar-route {
  flex: 1;
  padding: '00px';
 }
 #root{
  background-color: lightblue;
 } */